@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  @apply bg-slate-200;
}

body::-webkit-scrollbar,
.data::-webkit-scrollbar {
  display: none;
}
